<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
</head>
<footer class="page-footer font-small special-color-dark pt-4 footer_line" id="footer">
    <div class="footer_block">
        <ul class="ul_block">
            <li class="inline_item">
                <a class="google" href="https://google.com">
                    <!--         This path add for index.html          -->
                    <img src="../components/images/logo/google.svg" alt="google icon" width="50" height="50">
                </a>
            </li>
            <li class="inline_item">
                <a class="linked" href="http://linkedin.com/">
                    <!--         This path add for index.html          -->
                    <img src="../components/images/logo/linked.svg" alt="linked icon" width="50" height="50">
                </a>
            </li>
        </ul>
    </div>
    <div class="footer-copyright text-center py-3">&copy; 2018 Copyright:
    </div>
</footer>
</html>